@import "./shared.scss";

.box-primary-gradient {
  background: linear-gradient(var(--primary-color), var(--secondary-color));
}

.box-dribbble-gradient {
  background: linear-gradient(var(--primary-color), var(--secondary-color));
}

.shadow-dribbble {
  box-shadow: 0px 8px 16px rgba(207, 38, 104, 0.43);
}

.shadow-behance {
  box-shadow: 0px 8px 16px #053fff48;
}

.shadow-primary {
  box-shadow: 0px 8px 16px rgba(42, 159, 255, 0.3);
}

.shadow-secondary {
  box-shadow: 0px 8px 16px rgba(42, 159, 255, 0.2);
}

.shadow-github {
  box-shadow: 0px 8px 16px rgba(105, 105, 105, 0.43);
}
