$mobile-width: 800px;
$tablet-width: 1025px;

:root {
  --font-family: "Inter", sans-serif;
  --primary-color: #008cff;
  --secondary-color: #0066ff;
  --fg-color: #121212;
  --bg-color: #fff;
  --dark-grey: rgb(163, 163, 163);
  --light-grey: rgb(228, 228, 228);
  --dribbble-color: #cf2668;
  --behance-color: #053eff;
  --github-color: #121212;
  --elevated-color: #fff;
  --divider-color: rgba(0, 0, 0, 0.03);

  .dark-only {
    display: none;
  }

  .light-only {
    display: block;
  }
}

[data-theme="dark"] {
  --primary-color: #008cff;
  --secondary-color: #257cff;
  --fg-color: #fafafa;
  --bg-color: #121212;
  --dark-grey: rgb(165, 165, 165);
  --light-grey: rgb(65, 65, 65);
  --dribbble-color: #cf2668;
  --behance-color: #053eff;
  --github-color: #474747;
  --elevated-color: #1a1a1a;
  --divider-color: rgb(0, 0, 0, 0.2);

  .light-only {
    display: none;
  }

  .dark-only {
    display: block;
  }
}

* {
  :focus-visible {
    outline: 3px dashed var(--fg-color);
  }
}

section {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 48px solid var(--divider-color);
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 840px;
}

.nodesktop {
  display: none !important;
}

@media screen and (max-height: 900px) {
  section {
    border-bottom: transparent;
  }
}

@media screen and (max-width: $tablet-width) {
  .nomobile {
    display: none !important;
  }

  .mobile-flex {
    display: flex !important;
  }

  .mobile-block {
    display: block !important;
  }
  section {
    padding: 24px;
  }
}
