@import "src/sass/shared.scss";

.written-section {
  h1 {
    font-size: 5rem;
    font-weight: 900;
    line-height: 5rem;
    margin-bottom: 64px;
    text-align: center;
  }
}

.title-card {
  p {
    color: var(--fg-color);
    opacity: 0.3;
    line-height: 0.1rem;
    font-size: 1.286rem;
  }

  button {
    height: 38px;
    font-weight: normal;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: $tablet-width) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .projects-section {
    padding: 64px 48px;
  }
}

@media only screen and (max-width: $mobile-width) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid > * {
    max-width: 100%;
  }

  .projects-section {
    padding: 64px 48px;
  }

  .title-card {
    width: 100%;
    text-align: center;
    max-width: 100%;
    margin-bottom: 48px;
  }
}

.content {
  max-width: 1300px;
  display: flex;

  .col {
    margin: 0px 48px;
    width: 50%;
    font-family: Inter;
    font-style: normal;
    font-size: 28px;
    line-height: 39px;
  }
}

@media screen and (max-width: $tablet-width) {
  .content {
    flex-wrap: wrap;
    .col {
      width: 100%;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .content {
    flex-wrap: wrap;
    .col {
      font-size: 1.5rem;
      line-height: 1.9rem;
      width: 100%;
      margin: 0px;
    }
  }
}
