@import "src/sass/shared.scss";
@import "src/index.scss";

$dark: #121212;
$light: #fff;

$header-size: 60vh;
$readable-width: 1080px;

$dark-gradient: linear-gradient(
  to bottom,
  rgba($dark, 0) 0%,
  rgba($dark, 0.2) 20%,
  rgba($dark, 0.7) 60%,
  rgba($dark, 1) 80%,
  rgba($dark, 1) 100%
);
$light-gradient: linear-gradient(
  to bottom,
  rgba($light, 0) 0%,
  rgba($light, 0.2) 20%,
  rgba($light, 0.7) 60%,
  rgba($light, 1) 80%,
  rgba($light, 1) 100%
);

[data-theme="dark"] {
  .header {
    .gradient {
      background: $dark-gradient !important;
    }
  }
}

.case-study {
  .header {
    height: $header-size;
    max-height: $header-size;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;

    > * {
      position: absolute;
      top: 0;
      height: $header-size;
      max-height: $header-size;
      overflow: hidden;
      width: 100%;
    }

    .image {
      z-index: 200;
    }
    .gradient {
      z-index: 300;
      position: absolute;
      background: $light-gradient;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 10000;
      * {
        max-width: $readable-width;
        margin: 0 auto;
      }
      h1 {
        text-align: start;
        max-width: $readable-width;
        width: 100%;
        font-size: 5rem;
        font-weight: 900;
        margin-bottom: 32px;
      }
      h2 {
        font-size: 2.6rem;
        font-weight: 300;
      }
    }
  }

  hr {
    max-width: 200px;
    margin: 8rem auto;
  }
  article {
    max-width: $readable-width;
    width: 100%;
    margin: 0 auto;
    font-size: 2rem;
    color: var(--fg-color);
    h1 {
      font-size: 3.4rem;
    }
  }

  @media screen and (max-width: $tablet-width) {
    .header {
      .title {
        * {
          padding: 0px 48px;
          max-width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 760px) {
    .header {
      .title {
        * {
          padding: 0px 24px;
          max-width: 100%;
        }

        h1 {
          font-size: 3rem;
        }
        h2 {
          font-size: 1.4rem;
        }
      }
    }
  }
}
