@import "src/sass/shared.scss";
@import "src/index.scss";

$dark: #121212;
$light: #fff;

$header-size: 60vh;
$readable-width: 950px;

$dark-gradient: linear-gradient(
  to bottom,
  rgba($dark, 0) 0%,
  rgba($dark, 0.2) 20%,
  rgba($dark, 0.7) 60%,
  rgba($dark, 1) 80%,
  rgba($dark, 1) 100%
);
$light-gradient: linear-gradient(
  to bottom,
  rgba($light, 0) 0%,
  rgba($light, 0.2) 20%,
  rgba($light, 0.7) 60%,
  rgba($light, 1) 80%,
  rgba($light, 1) 100%
);

[data-theme="dark"] {
  @media screen and (max-width: $tablet-width) {
    * {
      color: rgb(199, 199, 199);
    }

    h1 {
      color: #fff;
    }
  }

  .header {
    .gradient {
      background: $dark-gradient !important;
    }
  }
}

.floating-dark-toggle {
  button {
    background: none;
    border: none;
    font-size: 1.8rem;
    padding: 4px;
    height: 3rem;
    width: 3rem;
    line-height: 50%;
    color: white;
    border-radius: 50px;
  }
  position: absolute;
  z-index: 1000000 !important;
  margin: 24px;
  right: 0px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  color: var(--fg-color);
  font-size: 1rem;
  font-weight: 500;
}

.image-shadow {
  position: absolute;
  top: 48px;
  z-index: -100;
  filter: blur(24px);
  opacity: 0.6;
  text-align: center;
  img {
    margin: 0 auto;
    width: 85% !important;
  }
}

.case-study {
  > footer {
    padding-top: 48px;
  }

  .header-mobile {
    display: none;
    img {
      width: 100%;
      max-height: 250px;
      object-fit: cover;
    }

    .title {
      padding: 24px;

      h1 {
        margin-top: 18px;
        font-size: 3.6rem;
        font-weight: 900;
      }

      h2 {
        margin-top: 30px;
        font-weight: lighter;
        font-size: 1.7rem;
        line-height: 150%;
        opacity: 0.7;
      }
    }
  }

  .header {
    height: $header-size;
    max-height: $header-size;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    padding: 0;
    margin: 0;
    > * {
      position: absolute;
      top: 0;
      left: 0;
      height: $header-size;
      max-height: $header-size;
      overflow: hidden;
      width: 100%;
    }

    .image {
      z-index: 200;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      max-width: 100%;
      img {
        overflow: hidden;
        max-width: 100%;
        width: 100%;
        object-fit: cover;
        border: none;
      }
    }
    .gradient {
      z-index: 300;
      position: absolute;
      background: $light-gradient;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 10000;
      * {
        max-width: $readable-width;
        margin: 0 auto;
      }
      h1 {
        text-align: start;
        max-width: $readable-width;
        width: 100%;
        font-size: 5rem;
        font-weight: 900;
        margin-bottom: 32px;
      }
      h2 {
        font-size: 2.5rem;
        font-weight: 300;
        opacity: 0.7;
      }
    }
  }

  hr {
    max-width: 200px;
    margin: 7rem auto;
  }
  article {
    max-width: $readable-width;
    width: 100%;
    padding-bottom: 48px;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 1.65;
    color: var(--fg-color);

    * {
      max-width: $readable-width;
    }
    h1 {
      font-size: 3.4rem;
    }

    li {
      margin: 16px 0px;
    }

    a {
      color: var(--primary-color);
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    a:visited {
      color: var(--secondary-color);
    }

    img {
      max-width: $readable-width;
      border-radius: 16px;
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .case-study {
    display: block;
    hr {
      display: block;
      width: 500px;
      margin: 2rem auto;
    }
    .header {
      display: none;
    }

    .header-mobile {
      display: block;
    }

    article {
      width: inherit;
      padding: 24px;
      padding-bottom: 48px;
      font-size: 1.4rem;

      table {
        border: 2px solid var(--divider-color);
        border-radius: 16px;
        padding: 8px;
      }

      pre,
      code {
        font-size: 90%;
        overflow: scroll;
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        line-height: 130%;
      }

      img {
        max-width: 100%;
        border-radius: 16px;
      }
    }
  }
}
