.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 36px;
}

.grid-item {
  width: 400px;
  min-height: 200px;
}

.title-card {
  h1 {
    font-size: 5rem;
    font-weight: 900;
    line-height: 5rem;
    margin-bottom: 64px;
  }

  p {
    color: var(--fg-color);
    opacity: 0.3;
    line-height: 0.1rem;
    font-size: 1.286rem;
  }

  button {
    height: 38px;
    font-weight: normal;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
