@import "src/sass/shared.scss";

h1 {
  margin: 0px;
  padding: 0px;
}

.social-buttons {
  display: flex;
  justify-content: flex-end;
  margin: -10px 0px;
  opacity: 0;
  transition: 0.2s all ease;

  * {
    margin-right: 10px;
    color: #02bac4;
  }

  *:last-child {
    margin-right: 0px;
  }
}

.hero-text:hover {
  .social-buttons {
    opacity: 1;
  }
}

hr {
  outline: 0;
  border: 0;
  border-bottom: 3px solid rgba(220, 220, 220, 0.5);
  width: 100%;
  margin: 50px 0px;
}

[data-theme="dark"] {
  .home-section {
    h1 {
      color: rgb(255, 255, 255);

      span {
        text-shadow: 0px 0px 0px rgba(0, 109, 172, 0);
      }
    }

    .about-me-gradient {
      background: radial-gradient(75% 75% at 13% 26%, #5db1ff 0%, #44f3fc 100%);

      // background: radial-gradient(75% 75% at 13% 26%, #a8ceff 0%, #00ccff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.hero-text {
  margin-bottom: 40px;
  h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 10rem;
    line-height: 136px;
    margin-bottom: 12px;

    span {
      text-shadow: 0px 16px 16px rgba(0, 162, 255, 0.2);
    }
  }
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.home-section {
  margin-top: 20px;

  .arrow {
    opacity: 0.4;
    margin-top: 54px;
    font-size: 3rem;
  }
  p {
    font-weight: 300;
    font-size: 2.7rem;
    padding: 0;
    margin-bottom: 12px;
  }
}

@media only screen and (max-height: 1000px) {
  .hero {
    margin: 70px 0px;
  }
}

@media only screen and (max-width: $mobile-width) {
  .bottom {
    display: none;
  }

  .social-buttons {
    display: flex;
    justify-content: center;
    opacity: 1;
    margin: 48px;
    transform: scale(1.4);

    * {
      margin-right: 24px;
    }

    :last-child {
      margin-right: 0;
    }
  }

  hr {
    display: none;
    margin: 0px;
  }

  .hero-text {
    margin-bottom: 0;
    margin-left: 24px;
    margin-right: 24px;
  }

  .home-section {
    margin-top: 48px;
    h1 {
      font-size: 5rem;
      line-height: 100%;
    }

    p {
      text-align: center;
      font-size: 1.8rem;
      line-height: 2.1rem;
    }
  }
}
