@import "../../sass/shared.scss";

.app-bar-mobile {
  display: none;
}

.left {
  button {
    background: none;
    border: 2px solid transparent;
    font-size: 1.8rem;
    padding: 2px;
    height: 3rem;
    width: 3rem;
    color: var(--fg-color);
    border-radius: 50px !important;
    cursor: pointer;
    line-height: 2rem;
  }

  button:focus {
    outline: none;
    border: 2px solid grey;
  }
}

.app-bar {
  z-index: 900;
  background-color: #fafafaa9;
  height: 64px;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  button {
    height: 32px;
  }

  .right {
    font-size: 1rem;

    * {
      margin-right: 52px;
    }
    *:last-child {
      margin-right: 0px;
    }

    .link-item {
      border: none;
      background: transparent;
      font-weight: 500;
      font-size: 1.1rem;
      cursor: pointer;
      text-transform: uppercase;
      color: var(--fg-color);
      text-decoration: none;
    }

    .link-item:active {
      font-weight: bold;
      text-decoration: underline;
    }

    .link-item:hover {
      text-decoration: underline;
    }
  }
}

[data-theme="dark"] {
  .app-bar {
    background-color: #12121296;
  }
  .app-bar-mobile {
    background-color: #12121296;
  }
}
@media screen and (max-width: $mobile-width) {
  .app-bar {
    display: none;
  }

  .left {
    button {
      background: none;
      border: 2px solid transparent;
      font-size: 1.8rem;
      padding: 2px;
      height: 3rem;
      width: 3rem;
      color: var(--fg-color);
      border-radius: 50px !important;
      cursor: pointer;
      line-height: 3rem;
    }

    button:focus {
      outline: none;
      border: 2px solid grey;
    }
  }

  .app-bar-mobile {
    display: flex;
    z-index: 900;
    background-color: #fafafa41;
    height: 80px;
    right: 0;
    left: 0;
    top: 0;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
  .link-item {
    display: none;
  }

  .app-bar {
    button {
      height: 36px;
    }
  }
}
