@import "src/sass/shared.scss";

footer {
  background: var(--divider-color);

  h3 {
    font-size: 1.5rem;
    padding: 0px;
    margin: 0px;
    line-height: 3rem;
    opacity: 0.5;
  }

  h4 {
    font-size: 1.2rem;
    opacity: 0.5;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
  }
}

.content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding-bottom: 48px;
}

@media screen and (max-width: $tablet-width) {
  footer {
    max-width: 100%;

    .content {
      display: block;
      text-align: center;
      max-width: 100%;
      width: 100%;

      > * {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }
}
