.portfolio-item-card {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  border-radius: 16px;
  max-width: 1080px;
  color: white;
  align-items: center;
  margin: 32px;
  background-size: cover;
  .left {
      max-width: 70%;
    h1 {
      font-size: 4.5rem;
      font-weight: 900;
    }

    p {
      font-size: 1.6rem;
    }
  }
  .right {
    .arrow {
      padding: 32px;
      height: 134px;
      width: 134px;
      * {
        height: 100%;
        width: 100%;
      }
      border: 4px solid white;
      border-radius: 16px;
    }
    font-weight: bold;
    text-align: center;
  }
}
